{% extends 'home/base.html' %}

{% block title %}
{% endblock %}

{% block songs %}

<div class="form_center">
    <form method="post">
        {% csrf_token %}

        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
        {% endfor %}
        <button type="submit" class="save btn btn-warning">Сохранить</button>
        <p>PS. Все аккорды должны быть в формате "Am ", "A# ", "E " и после каждого аккорда должен быть пробел!</p>
    </form>
</div>
{% endblock %}