{% extends 'home/base.html' %}

{% block breadcrumbs %}
    <h1>{{ song.author }} - {{ song.song_name }}</h1>
    <div class="row" style="margin-left: 20px;">
        <div class="col5">

            <br>
            <br>

        </div>
        <div class="col">
            <dl class="row">
                <dt class="col-sm-3 text-right">Текст</dt>
                <dd class="col-sm-9">{{ song.lyrics }}</dd>
            </dl>
            <br>
            {% if profile.user.id == user.id %}
                <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-info">Редактировать профиль</a>
            {% endif %}
        </div>
    </div>
{% endblock %}