{% extends 'home/base.html' %}

{% block videos %}
    <div class="wrapper">
        <div class="items">
            <div class="items_container">
                <div class="items_body">
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/eMdqyK4LGsA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Вспомним</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/4tQaZmmADg4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Юмор</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/vtv-Ns5YgL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Юмор</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/eqPGHQTkg5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Для начинающих</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/xTKjQwrxCeE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Ностальгия</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/PpaM11TX6ww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Ностальгия</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/FHLOzOS8hLg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Изучение популярных песен</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/9IPvUmLCLBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Легенда</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_video">
                            <iframe src="https://www.youtube.com/embed/Nj6aM9ljdQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item_text">
                            <p align="center">Легенда</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}